body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: green;
    font-family: Arial, sans-serif;
}
.start-page{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    height: 100vh;
    text-align: center;
    padding: 20px;
}

.page-container{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
.inform-player-list {
max-height: 200px;
width: 250px;
border: 1px;
padding: 15px;
background-color: antiquewhite;
border-radius: 8px;
}