h1 {
    font-family: Georgia, 'Times New Roman', Times, serif ;
    text-align: center;
    color: antiquewhite;
}
h3{
    font-family: Georgia, 'Times New Roman', Times, serif ;
     color: antiquewhite;
}
body{
    background-color: darkgreen;
}
.start-page{
    align-content: center;
    display: flex;
}
.start-page img{
    width: 300px;
    margin: 10px;
}