.main-container{
    margin-top: 5px;
    padding: 5px 15px;
}
.badge-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
}
.badge-container h3{

    font-size: 2em;
    color: #ffd700;
    text-shadow: 2px 2px 4px #000000;
    margin: 0 20px;  
    animation: shimmer 3s infinite linear;
}
@keyframes shimmer {
    0% {
      background-position: -100%;
    }
    100% {
      background-position: 200%;
    }
}
.badge-container img{
width: 170px; 
height: 170px;
object-fit: cover; 
}
.whole-container {
background: linear-gradient(135deg, #1a1a1a, #0d0d0d);
border: 3px solid #ffd700;
padding: 20px;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
text-align: center;
color: #ffffff;
font-family: Arial, sans-serif;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.article-container{
    width: 50%;
    margin-left: auto;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #333;
    border-radius: 8px;
    overflow-y: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    color: antiquewhite;
}