.badge-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
}
.badge-container h3{

}
.badge-container img{
width: 192px; 
height: 192px;
object-fit: cover; 
}